
  h3 {
    text-align: center; margin-bottom: 0;
  }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #F9F9F9;
}

th, td {
    border: 4px #7B8397;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

.addBtn{
  width:95px;
  height:36px;
  border:2px solid #34495e;
  float:right;
  text-align:center;
  cursor:pointer;
  position:relative;
  box-sizing:border-box;
  overflow:hidden;
}
.addBtn span{
  font-family:arial;
  font-size:16px;
  color:#34495e;
  text-decoration:none;
  line-height:35px;
  transition:all .5s ease;
  z-index:2;
  position:relative;
}
.eff-4{
  width:95px;
  height:36px;
  left:-140px;
  background:#34495e;
  position:absolute;
  transition:all .5s ease;
  z-index:1;
}
.addBtn:hover .eff-4{
  left:0;
}
.addBtn:hover span{
  color:#fff;
}


