/* Style the links inside the sidenav */
#mySidenav a {
    position: absolute; 
    left: 0px; 
    transition: 0.3s; 
    padding: 15px; 
    width: 100px; 
    text-decoration: none; 
    font-size: 15px;
    color: white;
    border-radius: 0 5px 5px 0; 
}

#mySidenav a:hover {
    left: 19px;
    padding: 16px;
    background-color: #022948;
}
#mySidenav a:active {
    left: 19px;
    padding: 16px;
    background-color: #022948;
}

/* The details link: 20px from the top with a green background */
#details {
    top: 20px;
    background-color: #4CAF50;
}

#dashboard {
    top: 80px;
    background-color: #2196F3; 
}

#projects {
    top: 140px;
    background-color: #f44336; 
}

#contact {
    top: 200px;
    background-color: #555 
}
/* dropdown */


  