article {
    width: 220px;
    height: 80px;
    display: block;
    position: relative;
    float:right;
    margin-top: -130px;
    margin-right: -130px;
    background: #fafafa;
    border-radius: 0px 3px 3px 0px;
    box-shadow: 0px 10px 0px     rgba(0,0,0,0.2);
  }
  
  .date {
    background: #CF575F;
    height: 80px;
    width: 90px;
    border-radius: 3px 0px 0px 3px;
    position: relative;
    left: -80px;
    box-shadow: inset 0px 1px 0px rgba(109, 113, 205, 0.72),0px 10px 0px rgba(0,0,0,0.2);
  }
  
  .date span {
    display: block;
     text-align: center;
  }
  
  .temp {
    color: rgb(255, 255, 255);
    text-shadow: 0px 1px 0px rgba(0,0,0,0.2);
    font-size: 40px;
    position: relative;
  }
  
  .city {
    color: #000000;
    font-size: 25pt;
  }
  
  ul {
    list-style: none;
    position: relative;
    top: -80px;
    padding-left: 20px;
  }
  
  ul li {
    display: inline-block;
    padding-left: 20px;
    font-weight: bold;
    color: #3d3c3d;
  }
  
  ul li:nth-child(1), ul li:nth-child(5){
    font-size: 10pt;
    color: #969396;
  }
  
  ul li:nth-child(2), ul li:nth-child(4){
    font-size: 12pt;
    color: #595959;
  }
  
  
  ul li:nth-child(3){
    font-size: 16pt;
  }
  
  figure {
    position: absolute;
    top: -10px;
    right: 40px;
    background: royalblue;
    width: 40px;
    height: 20px;
    border-radius: 20px 3px 10px 10px;
    z-index: 300;
    box-shadow: 0px 3px 1px rgba(0,0,0,0.2);
  }
  
  figure:before {
    content:'';
    background: royalblue;
    width: 20px;
    height: 20px;
    display: block;
    position: relative;
    top: -3px;
    left: 5px;
    border-radius: 50%;
  }
  
  figure:after {
    content:'';
    background: royalblue;
    width: 30px;
    height: 30px;
    display: block;
    position: relative;
    top: -30px;
    left: 21px;
    border-radius: 50%;
  }
  
  figure span {
    background: #ffcc33;
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    top: -3px;
    right: -20px;
    z-index:1;
  }
  
  article:hover {
    cursor: pointer;
    opacity: 1;
  }
  
  article {
    -webkit-animation: show 1s ease;-webkit-animation-iteration-count:1;
  }
  
  @-webkit-keyframes show {
    0% {top: -300px;}
    50% {top: 40px;}
    100% {top: 0px;}
  }